@charset "UTF-8";

.msg {
	color: #ffffff;

}

body {
	background-color: #f4eade;
	color:#111111;
	margin: 0;
	text-align: center;
	font-size:20px;

}

h1 {
	background-color: #2988bc;
	color: #ffffff


}


.accountInfo {
	margin-top: 20px;
	margin-right: 10px;
	text-align: right;
}

.button {
	display: inline-flex;
	margin-bottom: 10px;
}