<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
<title>電話帳アプリケーション</title>
</head>
<body>
	<script type="text/javascript" src="js/script.js"></script>

	<h1>電話帳</h1>

	<table id="message">
		<tr th:each="word : ${msg}">
			<td th:text="${word}"></td>
		</tr>
	</table>

	<form th:action="@{/update}" onsubmit="return submitChk()"
		th:object="${message}" method="post">
		<div id="wrapper" style="margin-top: 10px;">
			<div class="txt">
				<span>名前　　：</span>
				<input type="text" name="name" th:value="${name}" style="width: 210px; height: 20px;"/>
				<br>
				<div>
					<span>電話番号：</span>
					<input type="hidden" name="id" th:value="${id}">
					<input type="text" name="areaCode" th:value="${areaCode}" style="width: 60px; height: 20px;"/>
					<input type="text" name="cityCode" th:value="${cityCode}" style="width: 60px; height: 20px;"/>
					<input type="text" name="identificationCode" th:value="${identificationCode}" style="width: 60px; height: 20px;"/>
					<div class="ui-body ui-body-a">
						<span>都道府県：</span>
						<select name="address" th:value="${address}">
							<option value="">---</option>
								<option th:each="prefecture :${prefectures}" th:if = "${address == prefecture.value}" selected
								th:value="${prefecture.value}" th:text = "${prefecture.value}"/>
								<option th:each="prefecture :${prefectures}" th:if = "!${address == prefecture.value}"
								th:value="${prefecture.value}" th:text = "${prefecture.value}"/>
						</select>
					</div>
					<div class="execute">
						<input type="submit" class="execute_btn update" value="更新" />
					</div>
				</div>
			</div>
		</div>
	</form>

	<form th:action="@{/}" method="get">
		<input type="submit" name="return" class="return" value="検索画面に戻る" />
	</form>

</body>
</html>

