<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style2.css">
<title>電話帳アプリケーション</title>
</head>
<body>
	<h1>電話帳</h1>
	<p>の情報を更新します。</p>
	<form action="/update">
		<span>名前：</span> <input type="text" name="keyword"
			th:value="${keyword}" /><br>
			<span>電話番号：</span> <input
			type="text" name="keyword" th:value="${keyword}" /> <input
			type="text" name="keyword" th:value="${keyword}" /> <input
			type="text" name="keyword" th:value="${keyword}" /> <input
			type="submit" value="更新" />
	</form>


</body>
</html>